 #the-special{
                color:darkolivegreen;
            }
           h1,h2,h3,h4 {
               
               color:aquamarine;
               font-size: 30px;
               margin: 0;
               background-color:darkseagreen;
            }
            .important{
                color:lightcoral;
                background-color: azure;
            }
            .uppercase{
                text-transform: uppercase;
            }
            #the-one{
                color:cadetblue;
            }
            h1{
                color:aliceblue;}
                /*This is a comment*/